body {
  font-family: "Radio Canada Big", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #7f34c9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Radio Canada Big", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.maze-row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 0.25px solid rgba(211, 211, 211, 0.65);
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: white;
}

.cell.visited {
  background-color: #d6c2ea;
}

.cell.start {
  background-color: rgb(57, 208, 57);
}

.cell.end {
  background-color: red;
}