.button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0091ff;
  color: white;
  font-size: 16px;
  cursor: pointer
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.maze-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.maze {
  /* display: flex; */
  /* flex-direction: column; */
}

.maze-row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 0.5px solid lightgrey;
}

.cell.wall {
  background-color: black;
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}